* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f06292;
}

.main-card {
  background-color: #444a52;
  height: 90vh;
  width: 85%;
  max-width: 35rem;
  border-radius: .3rem;

  margin: 0 auto;
}

.input-tarea {
  background-color: unset;
  border: none;
  color: #fff;
  padding: .8rem .4rem;
  border-radius: .3rem;
  outline: none;
  width: 100%;
}

.input-tarea::placeholder {
  color: #fff;
}
.input-background{
  display: flex;
  align-items: center;

  width: 70%;
  margin: 0 auto;
  padding: 0 1rem;

  background-color: #343a40;
  border: 1px solid rgba(0, 0, 0, 0.471);
  border-radius: .3rem;
}
.dia-h2 {
  text-transform: capitalize;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: .2rem;
  margin-bottom: 0;
  font-weight: 600;
  color: #fff;
}
.fecha-numerica-p{
  margin-top: 0;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  color: rgba(218, 218, 218, 0.701);
  font-weight: 500;
}