* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f06292;
}

.main-card {
  background-color: #444a52;
  min-height: 90vh;
  height: 100%;
  width: 85%;
  max-width: 35rem;
  border-radius: .3rem;

  padding-bottom: 1rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.input-tarea {
  background-color: unset;
  border: none;
  color: #fff;
  padding: .8rem .4rem;
  border-radius: .3rem;
  outline: none;
  width: 100%;
}

.input-tarea::placeholder {
  color: #fff;
}

.input-background {
  display: flex;
  align-items: center;

  width: 70%;
  margin: 0 auto;
  padding: 0 1rem;

  background-color: #343a40;
  border: 1px solid rgba(0, 0, 0, 0.471);
  border-radius: .3rem;

}
.tarea-card {

  border-radius: .4rem;
  width: 70%;
  margin: .9rem auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: .3rem 1rem;
  background-color: #343a40;
}

.tarea-card h3 {
  margin: 0;
  padding: .8rem;
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
}

.delete-button {
  background-color: #e93f79;
  border-radius: 50%;
  width: 2rem;
  font-weight: bolder;
  height: 2rem;
  border: none;
  color: #fff;
  cursor: pointer;
}
