* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f06292;
}

.main-card {
  background-color: #444a52;
  height: 15rem;
  width: 85%;
  max-width: 20rem;
  border-radius: .3rem;

  margin: 0 auto;
}

.input-tarea {
  background-color: unset;
  border: none;
  color: #fff;
  padding: .8rem .4rem;
  border-radius: .3rem;
  outline: none;
}

.input-tarea::placeholder {
  color: #fff;
}
.input-background{
  display: flex;
  align-items: center;

  max-width: 12rem;
  margin: 0 auto;
  padding: 0 1rem;

  background-color: #343a40;
  border: 1px solid rgba(0, 0, 0, 0.471);
  border-radius: .3rem;
}
.dia-h2 {
  text-transform: capitalize;
  text-align: center;
  padding:1rem 0;
  margin-bottom: 0;
  font-weight: 600;
  color: #fff;
}